* {
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-items: center;
  font-family: 'Caesar Dressing', cursive;
  background-image: url(../images/Background.png);
  background-repeat: repeat;
}
h1 {
  display: flex;
  color: aliceblue;
  font-size: 4em;
  position: relative;
  align-items: center;
}
canvas{
  background-color: ;
}

aside {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

button {
  font: 'Caesar Dressin';
  font-size: 2em;
  color: white;
  padding: 0em 1em;
  margin-bottom: 2em;
  background-image: url(../images/Button_bg.png);
  background-size: cover
}
