* {
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-items: center;

  font-family: 'Caesar Dressing', cursive;
}
h1 {
  display: flex;
  position: relative;
  align-items: center;
}

aside {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
canvas {
}

button {
  font: 'Caesar Dressin';
  font-size: 2em;
  color: inherit;
  padding: 0em 1em;
  margin-bottom: 2em;
  background-color: #4caf50;
  border: 1em solid white;
}
