* {
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-items: center;
  font-family: 'Caesar Dressing', cursive;
  background-image: url(../images/Background.png);
  background-repeat: repeat;
}
h1 {
  display: flex;
  justify-content: center;
  color: aliceblue;

  font-size: 4em;
  position: relative;
  align-items: center;
  letter-spacing: 15px;
}

button {
  padding: 0em 1em;
  margin-bottom: 2em;
}

#start,
#reset,
#pause {
  display: flex;
  font-size: 2em;
  background-color: #d1a44f;
  color: white;
  font: 'Caesar Dressin';
  margin: auto;
}
canvas {
  margin-bottom: 1em;
}
.controls {
  font-family: Chelsea Market;
  color: #ffff;

  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;
  background-color: #5ba660;
}

.controls div {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 1em;
}

.general {
  background-color: #5ba660;
  padding: 2em;
}
